<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" href="static/styles.css" />
</head>
<body>
    <div class="container">
        <h1>Library Management System</h1>
        <div>
            <a href="add_book.html" class="btn">Add Book</a>
            <!-- <a href="#" class="btn">View Books</a> -->
            <a href="search_book.html" class="btn">Search Book</a>
            <a href="issue_book.html" class="btn">Issue Book</a>
            <a href="#" class="btn">Return Book</a>
            <a href="remove_book.html" class="btn">Remove Book</a>
        </div>
    </div>
</body>
</html>
